flows (1).json
[
    {
        "id": "e6f333f80109885c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a2dd54fef9fb782",
        "type": "mqtt in",
        "z": "e6f333f80109885c",
        "name": "/home/sensors",
        "topic": "/home/sensors",
        "qos": "2",
        "datatype": "json",
        "broker": "62d50602ec1adb50",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "578e536ed7f2a1ae",
                "e44bb380271fe4ef"
            ]
        ]
    },
    {
        "id": "578e536ed7f2a1ae",
        "type": "change",
        "z": "e6f333f80109885c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\t{\t    \"occupancy\": msg.payload.occupancy,\t    \"brightness_raw\": msg.payload.brightness_raw,\t    \"light_state\": msg.payload.light_state,\t    \"humidity\": msg.payload.humidity,\t    \"temperature\": msg.payload.temperature,\t    \"led_state\": msg.payload.led_state,\t    \"servo_angle\": msg.payload.servo_angle,\t    \"curtain_status\": msg.payload.curtain_status\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "a74e1333ef1c3a64",
                "749e9636495ef5b1"
            ]
        ]
    },
    {
        "id": "a74e1333ef1c3a64",
        "type": "influxdb out",
        "z": "e6f333f80109885c",
        "influxdb": "a77e5f3462939dea",
        "name": "",
        "measurement": "sensor_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "749e9636495ef5b1",
        "type": "debug",
        "z": "e6f333f80109885c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "069c4e1d0694d6b1",
        "type": "json",
        "z": "e6f333f80109885c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e44bb380271fe4ef",
        "type": "debug",
        "z": "e6f333f80109885c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "62d50602ec1adb50",
        "type": "mqtt-broker",
        "name": "MQTT DOcked",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a77e5f3462939dea",
        "type": "influxdb",
        "hostname": "172.27.116.173",
        "port": 8086,
        "protocol": "http",
        "database": "sensor_data",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]